---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] -%}

<div class="row">
  <div class="col-md-8">

    {% include index/carousel.html width="400" %}
  </div>
  <div class="col-md-4">  
    {% include feature/card.html text="Richard Stillwell (1899-1982), Princeton ’21 and *24, was a beloved long-serving member of the faculty and a prolific scholar. More than twelve hundred photographic negatives taken early in his career belong to the Research Photographs collections of the Department of Art and Archaeology. Beginning in early 2019 Visual Resources staff (with much help from undergraduate student workers), captured, edited, and catalogued the collection. This digitization project has culminated in this online exhibition showcasing the many fine quality images of the collection, most of which were taken in Greece between 1924 and 1934 and many likely taken by his wife at the time, Agnes Newall." header="The Collection" width="100" objectid="" %}
    

  </div>
  <div class="col-md-12">
    {% include index/data-download.html %}

  </div>
</div>