---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] -%}
Richard Stillwell (1899-1982), Princeton ’21 and *24, was a beloved long-serving member of the faculty and a prolific scholar. More than twelve hundred photographic negatives taken early in his career belong to the Research Photographs collections of the Department of Art and Archaeology. Beginning in early 2019 Visual Resources staff (with much help from undergraduate student workers), captured, edited, and catalogued the collection. This digitization project has culminated in an exhibition in McCormick Hall showcasing only a small sample of the many fine quality images of the collection, most of which were taken in Greece between 1924 and 1934 and many likely taken by his wife at the time, Agnes Newall.
<div class="row">
  <div class="col-md-8">

    {% include index/carousel.html title="Sample Items" height="400" %}
  
  </div>
  <div class="col-md-4">  

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

  </div>
</div>